@{
    ViewData["Title"] = "Dashboard";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Last Interaction</th>
                <th scope="col">Current Location</th>
                <th scope="col">Last Sleep Duration</th>
                <th scope="col">Mobility</th>
                <th scope="col">Last Meal</th>
                <th scope="col">Last Trip to Bathroom</th>
                <th scope="col">Last Shower</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>
            <tr class="table table-bordered">
                <td>John Smith</td>
                <td class="table-danger">Evans - 10:58 A.M.</td>
                <td>BR 113</td>
                <td class="table-danger">4.3 hrs</td>
                <td>48 ft</td>
                <td class="table-success">Evans - 8:35 A.M.</td>
                <td>1:24 P.M.</td>
                <td>01/26/22 8:43 P.M.</td>
            </tr>

        </tbody>
    </table>
</div>
